style.
  body {
    text-align: center;
    margin-top: 90px;
  }
  h1 {
    font-size: 3em;
  }
  a {
    background: #4285f4;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-family: sans-serif;
    border-radius: 3px;
  }
  a:hover {
    background: #2962bf;
  }

a(href="/auth/twitter") Login with Twitter
